@import "nullstyle.scss";
@import "fonts.scss";

body {
    font-family: 'Livvic', sans-serif;
}

// !!COLORS
// -----FONT_COLORS-----
$header-nav-link-font__color: #FFFFFF;
$header-btn-font__color: #FFFFFF;
$header-btn-hover-font__color: #012F34;
$header-btn-active-font__color: #406367;
$main-page-title-font__color: #FFFFFF;
$main-page-title-span-font__color: #F67E7E;
$main-page-subtitle-font__color: #FFFFFF;
$allSection-title-font__color: #FFFFFF;
$build-title-font__color: $allSection-title-font__color;
$build-list-item-title-font__color: #F67E7E;
$build-list-item-subtitle-font__color: #FFFFFF;
$delivering-title-font__color: #FFFFFF;
$delivering-title-span-font__color: #79C8C7;
$delivering-blockquote-text-font__color: #FFFFFF;
$delivering-blockquote-text-author-font__color: #79C8C7;
$delivering-blockquote-text-author-job-font__color: #FFFFFF;
$ready-title-font__color: #012F34;
$ready-btn-font__color: #012F34;
$footer-nav-link-font__color: $header-nav-link-font__color;
$footer-address-font__color: #FFFFFF;
$footer-copy-font__color: #FFFFFF;


// -----ELEMENT_COLORS-----
$logo-fill__color: #FFFFFF;
$header-logo-fill__color: $logo-fill__color;
$main-page-bg__color: #014E56;
$header-bg__color: #014E56;
$header-btn-border__color: #FFFFFF;
$header-btn-border-active__color: #406367;
$header-btn-bg__color: transparent;
$header-btn-hover-bg__color: #FFFFFF;
$main-page-line-bg__color: #79C8C7;
$build-section-bg__color: #012F34;
$build-list-item-circle-bg__color: #2C6269;
$build-list-item-SVGicon-fill__color: #79C8C7;
$delivering-bg__color: #004047;
$delivering-quote-bg__color: #2C6269;
$delivering-image-border__color: #C4FFFE;
$ready-bg__color: #F67E7E;
$ready-btn-bg__color: transparent;
$ready-btn-border__color: #012F34;
$footer-logo-fill__color: $logo-fill__color;
$footer-bg__color: #002529;
$footer-social-icon-fill__color: #FFFFFF;

// !!COMPONENTS

.logo-link {
    & svg path {
        fill: $logo-fill__color;
        fill: $header-logo-fill__color;
    }
}

.nav-list {
    @include flex($cGap: 40);
}

.btn {
    padding: 10px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    transition: linear .3s;
}

.line {
    width: 50px;
    height: 4px;
}

.section-title {
    @include font(48, 700, 48, none, $allSection-title-font__color);
}

.content-title {
    @include font(18, 700, 28, none, $build-list-item-title-font__color);
}

.content-subtitle {
    @include font(15, 600, 25, none, $build-list-item-subtitle-font__color);
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: $header-bg__color;

    & .header-content {
        @include flex(center, space-between);
        padding: 35px 0;

        &__leftside {
            @include flex(center, $cGap: 80);

            &__navbar {}

            &__nav-list {
                &__item {
                    & a {
                        @include font(18, 600, 28, none, $header-nav-link-font__color);
                        transition: linear .3s;
                    }
                }
            }

        }

        &__contact-btn {
            border-color: $header-btn-border__color;
            @include font(18, 600, 28, none, $header-btn-font__color);
            background-color: $header-btn-bg__color;

            &:hover {
                background-color: #FFFFFF;
                color: $header-btn-hover-font__color;
            }

            &:active {
                background-color: transparent;
                border-color: $header-btn-border-active__color;
                color: $header-btn-active-font__color;
            }
        }
    }
}

main {
    & .main-page {
        background-color: $main-page-bg__color;
        padding-top: 120px;
        overflow-y: hidden;

        &__content {
            padding-top: 130px;
            padding-bottom: 250px;
            position: relative;
            @include flex($jContent: space-between);

            &__title {
                max-width: 620px;
                @include font(100, 700, 100, none, $main-page-title-font__color);

                & span {
                    color: $main-page-title-span-font__color;
                }
            }

            &__rightside {
                & .main-page__line {
                    background-color: $main-page-line-bg__color;
                    margin-bottom: 80px;
                }
            }

            &__subtitle {
                max-width: 445px;
                @include font(18, 600, 28, none, $main-page-subtitle-font__color);
            }

            & .main-page__decor-element1,
            & .main-page__decor-element2 {
                position: absolute;
            }

            & .main-page__decor-element1 {
                top: 120px;
                left: -225px;
            }

            & .main-page__decor-element2 {
                bottom: -105px;
                right: 0;
            }
        }
    }

    & .build {
        background-color: $build-section-bg__color;
        overflow-x: hidden;

        &-content {
            padding: 140px 0;
            @include flex($jContent: space-between);

            position: relative;

            &__leftside {
                & .build-content__line {
                    background-color: #F67E7E;
                    margin-bottom: 55px;
                }

                &__title {
                    max-width: 445px;
                }
            }

            &__rightside {
                &__list {
                    @include flex($fDirection: column, $rGap: 30);

                    &-item {
                        max-width: 530px;
                        @include flex(center, $cGap: 22);

                        & .list-item__circle {
                            position: relative;
                            min-width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            background-color: $build-list-item-circle-bg__color;

                            & svg {
                                position: absolute;
                                top: -16px;
                                left: -16px;

                                & path {
                                    fill: $build-list-item-SVGicon-fill__color;
                                }
                            }
                        }

                        &__content {
                            &-title {
                                margin-bottom: 15px;
                            }

                            &-subtitle {
                                opacity: .8;
                            }
                        }
                    }
                }
            }

            & .build-decor__element {
                position: absolute;
                bottom: 0px;
                right: -215px;
            }
        }
    }

}